# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://postgres:password@localhost:5432/template"

NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_Website_URL="http://localhost:3000"
NEXTAUTH_SECRET="testing"
NODE_ENV="development"

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# LemonSqueezy
LEMONSQUEEZY_API_KEY="Paste apikey here"
LEMONSQUEEZY_STORE_ID="Store id here settings/stores"
NEXT_PUBLIC_LS_6D_VARRIENT_ID="Veriant id of product"
LEMONSQUEEZY_WEBHOOK_SECRET="secret"
WEBHOOK_URL="http://localhost:3000/api/webhooks"
